body {
  font-family: 'JetBrains Mono', monospace;
  color: #ffffff;

  min-height: 100vh;

  background: #2f2e41;
}

.page {
  width: 1090px;

  margin: 0 auto;
  padding-top: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;

  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
  font-weight: medium;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: center;
}

section h1 {
  line-height: 40px;
  font-size: 36px;
  font-weight: bold;
}

section p {
  font-family: 'Open Sans', sans-serif;
  color: #c2c2c2;
  font-size: 16px;
  line-height: 28px;

  margin: 60px auto;
}

span {
  color: #00bfa6;
}

.line {
  width: 570px;
  height: 0px;

  margin: 0 auto 27px;

  border: 1px solid #00bfa6;
}

footer {
  text-align: center;

  font-size: 14px;
  font-weight: medium;
  line-height: 28px;

  padding-top: 160px;
}

footer a {
  text-decoration: none;

  color: #ffffff;
}

#padlock {
  position: fixed;

  bottom: 0;
  left: 0;
}
